{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>EPG</th>
        <th>VLAN</th>
        <th>IP</th>
        <th>MAC</th>
      </tr>
    </thead>
    <tbody>
      {% for ep in eps %}
        <tr>
          <td>{{ ep[0] }}</td>
          <td>{{ ep[1] }}</td>
          <td>{{ ep[2] }}</td>
          <td>{{ ep[3] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('#data').DataTable({
          dom: 'lfrtipB',
          buttons: [
              {
                  extend: 'excel',
              }         
          ]  
        });
  });
  </script>
  
{% endblock %}



