{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Tenant</th>
        <th>AP</th>
        <th>EPG</th>
        <th>pctag</th>
      </tr>
    </thead>
    <tbody>
      {% for epg in epgs %}
        <tr>
          <td>{{ epg[0] }}</td>
          <td>{{ epg[1] }}</td>
          <td>{{ epg[2] }}</td>
          <td>{{ epg[3] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('#data').DataTable({
          dom: 'lfrtipB',
          buttons: [
              {
                  extend: 'excel',
              }         
          ]  
        });
  });
  </script>
  
{% endblock %}



